{% extends "Aplicacion1/index.html" %}

{% block titulo %}
<h1 class="display-5 fw-bold">Personajes</h1>
<p class="fs-4">Aqui se reunen todos nuestros heroes.</p>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
  <thead>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
      </tr>
  </thead>
  <tbody>
  {% for c in personajes %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.nombre }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock contenido %}